<div class="page-in">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="page-in-name">SYSTEMS</div>
      </div>
    </div>
  </div>
</div>
<div class="container marg75" id="audio-video">
  <div class="row">
    <div class="col-lg-12">
      <div class="promo-block">
        <div class="promo-name">Audio & Video</div>
        <div class="promo-border"></div>
      </div>
      <div class="marg75">
        <div class="row">
          <div class="col-lg-6">
            <p> Fill one or every room with your favorite music and video, enjoy limitless entertainment
              with a single remote, or create an unrivaled home theater experience. At the touch of a
              single remote, Our project wants to add a new dimension of <strong> enjoyment </strong>
              and <strong> luxury </strong> to your home with superior sound and top of the line
              video. </p>

            <p> Let our project be your “One stop luxury shop” for all things Audio & Video. Expert
              technicians provide guidance and support so you to can attain the simplicity and luxury
              you desire in your home theater system. We guarantees top of the line equipment
              installed by industry leaders. Whether you’re looking to design the ultimate family room
              or you want a home theater that rivals any cinema, Smarthoume project has your Audio &
              Video solutions. </p></div>
          <div class="col-lg-6">
            <img alt="" src="assets/images/audio.jpg">
          </div>
        </div>
        <hr>
        <div class="row">
        </div>
      </div>
    </div>
  </div>
</div>
<div class="container marg75" id="SECURITY-SURVEILLANCE">
  <div class="row">
    <div class="col-lg-12">
      <div class="promo-block">
        <div class="promo-name">SECURITY & SURVEILLANCE</div>
        <div class="promo-border"></div>
      </div>
      <div class="marg75">
        <div class="row">
          <div class="col-lg-6">
            <p> Using the industries leading technologies, Smarthouse project makes it easy to check in
              on home <strong> from anywhere in the world </strong> on your smartphone. You can view
              live HD footage straight from your mobile device while remotely connecting and
              commanding your home, from virtually anywhere. Utilizing premium surveillance systems
              and interfacing them with a home automation system, Project Smarhouse takes “industry
              standard” to the next level. </p>

            <p><i class="icon-basic-pin2"></i> <strong> HD Live </strong> footage of your property </p>
            <p><i class="icon-basic-pin2"></i> Access your cameras via mobile device </p>
            <p><i class="icon-basic-pin2"></i> Deter or record would be intruders </p>
            <p><i class="icon-basic-pin2"></i> <strong> Receive alerts </strong>for unwanted entry or
              movement </p>
            <p><i class="icon-basic-pin2"></i> Set cameras to shoot a series of photos in response to
              unwanted entry or movement </p>
            <p><i class="icon-basic-pin2"></i> Enjoy peace of mind knowing your family and property are
              safe </p>
          </div>
          <div class="col-lg-6">
            <img alt="" src="assets/images/SECURITY4.jpg">
          </div>
        </div>
        <hr>

      </div>
    </div>
  </div>
</div>
<div class="container marg75" id="home-monitoring">
  <div class="row">
    <div class="col-lg-6">
      <img src="assets/images/home-monitoring2.jpg" width="100%" height="100%">
    </div>
    <div class="col-lg-6">
      <div class="presentation-two-name col-ms-12_marg50">Home monitoring</div>
      <div class="present-block-line"></div>
      <div class="present-block-text">
        <p> Home Manager dashboard allows you to monitor your home 24 hours a day from anywhere in the
          world. Peace of mind has never been so accessible. Using your handheld device you can monitor
          temperatures, alarm status, lights, gates, doors and more in real-time. Set custom alerts to
          stay mindful of your property no matter where you are. </p>
        <p><i class="icon-basic-pin2"></i> Control and monitor your home securely from anywhere in the world
          over the Internet </p>
        <p><i class="icon-basic-pin2"></i> Remotely monitor your home 24/7 </p>
        <p><i class="icon-basic-pin2"></i> Effortlessly manage services, documentation and IP devices </p>
        <p><i class="icon-basic-pin2"></i> Create home reminders </p>
        <p><i class="icon-basic-pin2"></i> Unlock your doors from anywhere </p>
        <p><i class="icon-basic-pin2"></i> Receive notifications if there is movement or entry to your
          property </p>
      </div>
    </div>
  </div>
</div>
<div class="container-color marg100" id="commercial-systems">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="promo-block">
          <div class="promo-name">COMMERCIAL SYSTEMS</div>
          <div class="promo-border marg50"></div>
        </div>
      </div>
    </div>
    <div class="row marg30">
      <div class="col-lg-4 col-md-4 col-sm-6 col-xs-6 col-ms-12">
        <div class="services-main">
          <div class="other-serv">
            <div class="serv-icon"><i class="fa icon-basic-pencil-ruler"></i></div>
            <div class="serv-block-list"><p class="serv-desc">Smarthouse project offers an intuitive
              interface that will help reduce distractions and streamline your business</p></div>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-4 col-sm-6 col-xs-6 col-ms-12 col-xs-12_marg50">
        <div class="services-main">
          <div class="other-serv">
            <div class="serv-icon"><i class="fa icon-basic-smartphone"></i></div>
            <div class="serv-block-list"><p class="serv-desc">Remotely access climate, lighting, music,
              and telecommunication devices to ensure a custom experience for your clientele.</p>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-4 col-sm-6 col-xs-6 col-ms-12 col-ms-12_marg">
        <div class="services-main">
          <div class="other-serv">
            <div class="serv-icon"><i class="fa icon-basic-sheet-txt"></i></div>
            <div class="serv-block-list"><p class="serv-desc">Take the anxiety out of technology and
              enjoy a competitive advantage through operational efficiency</p></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="container marg75" id="automatic-shades">
  <div class="row">
    <div class="col-lg-12">
      <div class="promo-block">
        <div class="promo-name">AUTOMATIC SHADES & DRAPES</div>
        <div class="promo-border"></div>
      </div>
      <div class="marg75">
        <div class="row">
          <div class="col-lg-6">
            <p> Enjoy a level of convenience only experienced with motorized shades & drapes. At the
              touch of a button you can achieve the natural light levels that you desire.</p>
            <p> Automate your shades to match your schedule and enjoy ambiance without effort. </p>

          </div>
          <div class="col-lg-6">
            <img src="assets/images/Shades.jpg">
          </div>
        </div>
        <hr>

      </div>
    </div>
  </div>
</div>
<div class="container marg75" id="cellular-amplification">
  <div class="row">
    <div class="col-lg-6">
      <img src="assets/images/Wilson.jpg">
    </div>
    <div class="col-lg-6">
      <div class="presentation-two-name col-ms-12_marg50">CELLULAR AMPLIFICATION</div>
      <div class="present-block-line"></div>
      <div class="present-block-text">
        <p> Today’s modern homes are often constructed with energy efficient materials such as high density
          or metal backed insulation, low energy glass, and highly efficient roofing materials. All of
          these materials can have a negative consequence on your cell signal. Whether you’re seeking
          <strong> coverage for your entire home </strong> or looking to <strong> enhance coverage in a
            weakened signal area</strong>, there’s a Wilson booster that fits the application. Wilson
          has a variety of boosters to increase signal performance of all cellular devices for any network
          provider. </p>
      </div>
    </div>
  </div>
</div>

<app-contact-form></app-contact-form>
