<div class="container marg75">
  <div class="row">
    <div class="col-lg-8 col-md-8 col-sm-12">
      <div class="promo-block">
        <div class="promo-name">Have questions?</div>
        <div class="promo-border marg50"></div>
      </div>
      <div class="marg50">
        <div class="row">
          <form action="assets/php/send.php" method="post" id="contactForm">
            <div class="col-lg-6">
              <p class="text_cont"><input type="text" name="name"
                                          placeholder="Name"
                                          class="input-cont-textarea"></p>
            </div>
            <div class="col-lg-6">
              <p class="text_cont"><input type="text" name="email"
                                          placeholder="E-mail"
                                          class="input-cont-textarea"></p>
            </div>
            <div class="col-lg-6">
              <p class="text_cont"><input type="text" name="Phone number"
                                          placeholder="Phone number"
                                          class="input-cont-textarea"></p>
            </div>
            <div class="col-lg-12">
              <div class="alert alert-danger error" id="nameError"><i
                class="icon-cancel"></i> Oh snap! Name field can't stay
                empty.
              </div>
              <div class="alert alert-danger error" id="emailError"><i
                class="icon-cancel"></i> Oh snap! There was a mistake
                when writing a e-mail.
              </div>
              <div class="alert alert-danger error" id="subjectError"><i
                class="icon-cancel"></i> Oh snap! Subject field can't
                stay empty.
              </div>
            </div>
            <div class="col-lg-12">
              <p class="text_cont"><textarea name="message"
                                             placeholder="Message"
                                             id="message"
                                             class="input-cont-textarea"
                                             cols="40" rows="10"></textarea>
              </p>
              <div class="alert alert-danger error" id="messageError"><i
                class="icon-cancel"></i> Oh snap! This field can't stay
                empty.
              </div>
              <div class="alert alert-success success" id="success"><i
                class="icon-ok"></i> Well done! You message is
                successfully sent.
              </div>
            </div>
            <div class="col-lg-12"><p><input type="submit" id="send"
                                             class="btn btn-default"
                                             value="Send message"/></p></div>
          </form>
        </div>
      </div>
    </div>
    <div class="col-lg-4 col-md-4 col-sm-12">
      <div class="promo-block">
        <div class="promo-name">Information</div>
        <div class="promo-border marg50"></div>
      </div>
      <div class="marg50">
        <ul class="contact-composer">
          <li><i class="icon-basic-home"></i> <span>Address: 455 Martinson, Los Angeles</span>
          </li>
          <li><i class="icon-basic-smartphone"></i>
            <span>Phone: 8 (043) 567 - 89 - 30</span>
          </li>
          <li><i class="icon-basic-printer"></i>
            <span>Fax: 8 (057) 149 - 24 - 64</span></li>
          <li><i class="icon-basic-video"></i> <span>Skype: companyname</span>
          </li>
          <li><i class="icon-basic-mail"></i>
            <span>E-mail: support@email.com</span></li>
          <li><i class="icon-basic-lock"></i>
            <span>Weekend: from 9 am to 6 pm</span></li>
        </ul>
      </div>
    </div>
  </div>
</div>
