<div class="container-full marg0">
  <div class="slider">
    <div class="shadow"></div>
    <div class="title">
      Intelligently control of your house
    </div>
    <div class="subtitle">
      Make You Life Easier
    </div>
    <div class="slibutton">
      Free Consultation
    </div>
  </div>
</div>

<div class="container marg75" id="smarthome">
  <div class="row">
    <div class="col-lg-12">
      <div class="promo-block">
        <div class="promo-name">SMARTHOME</div>
        <div class="promo-border"></div>
      </div>
      <div class="marg75">
        <div class="row">
          <div class="col-lg-6">
            <h4>What is a Smarthome?</h4>
            <p> Smarthomes allow users to intelligently control every aspect of their home and office
              from one, easy-to-use interface. By integrating everything from lighting, music, video,
              climate control, and security, Control4 technology creates personalized experiences that
              enhance your life and work with added comfort, savings, convenience, and peace of
              mind.</p>
            <div class="huinia">
              <p><img src="assets/images/control4.jpeg"></p>
            </div>
          </div>
          <div class="col-lg-6">
            <iframe width="560" height="315" src="https://www.youtube.com/embed/U7kHR7x1Zm8"
                    frameborder="0" allowfullscreen></iframe>
          </div>
        </div>

        <div class="row">


          <hr>

        </div>
      </div>
    </div>
  </div>
</div>
<div class="container marg75">
  <div class="row">
    <div class="col-lg-12">
      <div class="promo-block">

        <div class="promo-name">WE PLAY NICE WITH THE BRANDS YOU LOVE</div>
        <div class="promo-border marg50"></div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-12 marg30">
      <div class="jcarousel-wrapper">
        <li><a href="#"><img src="assets/images/home-brands1.jpg"></a></li>
      </div>
    </div>
  </div>
</div>
