@import "../../../assets/scss/mixins";

.slider {
  width: 100%;
  background-size: cover;
  background: url('../../../assets/images/LivingRoom_4.jpg') center;
  max-height: 800px;
  height: 800px;
  position: relative;
  @include flexbox();
  @include flex-direction(column);
  @include justify-content(center);
  @include align-items(center);
  .shadow {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1;
  }
  .title {
    background-color: transparent;
    border-radius: 0 0 0 0;
    border: 0 none transparent;
    color: rgba(255, 255, 255, 1.00);
    font-family: Roboto Slab, serif;
    font-size: 70px;
    font-style: normal;
    font-weight: 400;
    line-height: 70px;
    padding: 10px 0;
    text-decoration: none;
    z-index: 2;
  }
  .subtitle {
    background-color: transparent;
    border-radius: 0 0 0 0;
    border: 0 none transparent;
    color: rgba(255, 255, 255, 1.00);
    font-family: Roboto, serif;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    letter-spacing: 4px;
    line-height: 20px;
    padding: 0;
    text-align: left;
    margin: 40px 0;
    text-decoration: none;
    z-index: 2;
  }
  .slibutton {
    background-color: rgba(0, 0, 0, 0);
    border-radius: 0 0 0 0;
    border: 1px solid rgba(255, 255, 255, 0.50);
    color: rgba(255, 255, 255, 1.00);
    font-family: Roboto, serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    letter-spacing: 3px;
    line-height: 14px;
    padding: 10px 30px;
    z-index: 2;
  }
}
