<div class="page-in">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="page-in-name">SERVICES</div>
      </div>
    </div>
  </div>
</div>
<div class="container marg75" id="programming">
  <div class="row">
    <div class="col-lg-12">
      <div class="promo-block">
        <div class="promo-name">PROGRAMMING</div>
        <div class="promo-border"></div>
      </div>
      <div class="container marg50">
        <div class="cl-blog-text"><p> Smarthome project has years of experience working with the world’s
          most sophisticated control systems. Simple errors lead to frustration and ineffectiveness. A
          properly programmed system is so intuitive that instruction is not necessary. Save yourself the
          heartache and let the pros handle it. </p>

          <p> Trying to do this yourself can lead to <strong> technical </strong> errors and missed
            opportunities within the program. There is no sense in using highly capable and powerful
            gear if it only operates at half of its capacity. Top-of-the-line equipment requires
            <strong> top-of-the-line </strong> programming knowledge. Project Automate’s expertise will
            enable and allow your system to operate at its full potential so you wont miss out on any
            features. </p>
        </div>
        <div class="huinia">

          <img src="assets/images/control4.jpeg">

        </div>
      </div>
    </div>
  </div>
</div>

<div class="container marg75" id="warranty">
  <div class="row">
    <div class="col-lg-12">
      <div class="promo-block">
        <div class="promo-name">Warranty</div>
        <div class="promo-border"></div>
      </div>
      <div class="marg75">
        <div class="row">
          <div class="col-lg-6">
            <h4>Standard Warranty</h4>
            We offer a 1 year standard warranty for all new Control4 systems, which
            guarantees function of the system for 1 year. If we have to come back and fix
            anything within the first year of purchase, you won’t pay a cent.
            <h4>Extended Service Warranty</h4>
            <h5> Extends your warranty coverage and length. Includes: </h5>
            <p><i class="icon-basic-pin2"></i> FREE business-hours phone support </p>
            <p><i class="icon-basic-pin2"></i> 48 business-hour emergency response (after
              being notified of the issue) </p>
            <h4>Costs:</h4>
            <p> If your system value is up to $15000 – $300/yr </p>
            <p> If your system value is between $15,000 and $30,000 – $500/yr </p>
            <p> If your system value is between $30,000 and $100,000 – $800/yr </p>
            <h4>How the Extended Service Warranty expands the Manufacturer’s Warranty</h4>
            During the manufacturers warranty period, Smarthome project extended service
            warranty covers free advanced replacement, including labor. For example, if your
            TV has a 1 year warranty, if within that 1st year anything goes wrong, we’ll
            visit within 48 business hours, replace the device, box it up, and setup a new
            one at no charge.
          </div>
          <div class="col-lg-6">
            <div class="huinia2">
              <img src="assets/images/war.jpg">
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<div class="container marg75" id="contactform1">
  <div class="row">
    <div class="col-lg-12">
      <div class="promo-block">
        <div class="promo-name">FREE ON-SITE CONSULTATION</div>
        <div class="promo-border"></div>
      </div>
      <div class="container marg50">
        <div class="cl-blog-text"><p> It’s necessary for a “Smart Home” system to be custom
          built to fit your lifestyle and needs. Whether you are looking to automate a single
          room or you are designing your dream home, Smarthome will help you identify and
          obtain the features that you will enjoy and use regularly.</p>

          <p>Smarthome project offers professional, prompt and affordable services. The staff
            is equipped with expertise and knowledge of home automation and design. Their
            experience with electrical engineering will remove any difficulty and ensure you
            have an intuitive and accommodating design.</p>

          <p> It’s important that your voice is heard in order to achieve the flawless
            marriage between the technology and your everyday needs. </p>
          <p> It’s Smarthome project mission to ensure this complex process is as seamless as
            possible.</p>
        </div>
      </div>
    </div>
  </div>
</div>

<app-contact-form></app-contact-form>
