<div class="top_block">
  <div class="container">
    <div class="row">
      <div class="col-lg-6 col-md-7 col-sm-7 col-xs-6 pull-left">
        <div class="contant-top-block">
          <ul class="contact-top">
            <li><i class="icon-basic-home"></i> 455 Martinson, Los Angeles</li>
            <li><i class="icon-basic-smartphone"></i> 8 (043) 567 - 89 - 30</li>
          </ul>
        </div>
      </div>
      <div class="col-lg-6 col-md-5 col-sm-5 col-xs-6 pull-right">
      </div>
    </div>
  </div>
</div>
