<div class="page-in">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="page-in-name">Support</div>
      </div>
    </div>
  </div>
</div>
<div class="container marg75">
  <div class="row">
    <div class="col-lg-12">
      <div class="marg75">
        <div class="row">
          <div class="col-lg-6">
            <p> Most Smarthome projects locations have 24/7 Digital Concierge service available. This
              insures a rapid response when a critical system needs service. Beyond service calls,
              Smarthome project offers technology consulting and serves as a trusted advisor on all
              things home technology related. The pace of innovation is only increasing and trying to
              make sense of new technologies can be daunting. Smarthome project seeks to keep its
              customers cognizant on home automation trends.</p>

            <p> Despite being iron clad, all electronic systems are bound to experience issues
              throughout their lifespans. Take comfort in knowing Project Automate is only a phone
              call away. </p>
          </div>
          <div class="col-lg-6">

            <img src="assets/images/support.jpg">
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<app-contact-form></app-contact-form>
